{% extends 'base.html.twig' %}

{% block body %}
    <main class="fiche center">
        <div class="imgproduct-f">
            <img src="{% if product.avatar == null %}https://previews.123rf.com/images/megawinter/megawinter1405/megawinter140501072/28553313-cross-web-flat-icon-in-circle-Stock-Vector.jpg{% else %}{{ product.avatar }}{% endif %}">
        </div>
        <div class="text-product clearfix">
            {% if app.user %}
                {% if fav %}
                    <a href="{{ path('removeFavoris', {'favorisid':fav}) }}"> Supprimer des favoris</a>
                {% elseif fav==false %}
                    <a href="{{ path('addFavoris', {'userid':app.user.getId, 'productid':product.id}) }}"> Ajouter aux favoris</a>

                {% endif %}

            {#{% if fav==false %}#}
                {#<a href="{{ path('addFavoris', {'userid':app.user.getId, 'productid':product.id}) }}"> Ajouter aux favoris</a>#}

            {#{% endif %}#}

            {% endif %}
            <h2><a href="#" class="title-product">{{ product.title }}</a></h2>
            <p>Vendeur : {{ product.getUser.getUsername }}</p>
            <p class="prix">{{ product.prix }} €</p>
        </div>

        <div class="statproduct-f">
            <p class="pictostat statbea">BEAUTÉ : {{ product.beaute }}</p>
            <p class="pictostat statcha">CHARISME : {{ product.charisme }}</p>
            <p class="pictostat statint">INTELLIGENCE : {{ product.intelligence }}</p>
        </div>

        <div class="fiche-content">
            <div class="description">
                <h2>Description</h2>
                <p>{{ product.description }}</p>
            </div>
            <div class="contact">
                <h2>Contact :</h2>
                <ul>
                    <li>Email : <a href="#">{{ product.getUser.getEmail }}</a> </li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
