{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    {% if app.session.flashBag.has('failure') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('failure') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.prix }}</td>
            </tr>
            <tr>
                <th>Charisme</th>
                <td>{{ product.charisme }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ product.intelligence }}</td>
            </tr>
            <tr>
                <th>Beaute</th>
                <td>{{ product.beaute }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td><img src="{{ product.avatar }}"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annonces') }}">Back to the list</a>
        </li>
        {% if app.session.flashBag.has('failure') %}
            <li>
                <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% else %}

        {% endif %}

    </ul>
{% endblock %}
