<!doctype html>
<html lang="FR-fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <p>Liste des annonces</p>

    <table>
        {% for item in allprod %}
            <tr>
                <td>
                    {{ item.id }}
                </td>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.description }}
                </td>
                <td>
                    {{ item.charisme }}
                </td>
                <td>
                    {{ item.beaute }}
                </td>
                <td>
                    {{ item.intelligence }}
                </td>
            </tr>
        {% endfor %}
    </table>
    </body>
</html>