{% extends 'base.html.twig' %}

{% block body %}

    <main class="center">

        <p class="intro">Bienvenue sur GearPlus.com : le site e-commerce pour augmenter vos stats (BEAUTÉ, CHARISME & INTELLIGENCE). Postez vos annonces et vendez vos produits <a href="#">en vous connectant</a>. </p>

        <ul class="listproduct">

            {% for item in tableau %}
                <li class="product">
                    <div class="gotall">
                        <div class="imgproduct">
                            <img src="{{ asset('bundles/GearPlusBundle/media/test.jpg') }}">
                        </div>
                        <div class="text-product">
                            <h2><a href="#" class="title-product">{{ item.0.title }}</a></h2>
                            <p class="seller">Vendeur : Martin Vendeur (95)</p>
                            <p class="prix">{{ item.0.prix }} €</p>
                        </div>
                        <div class="statproduct">
                            <p class="pictostat statbea">BEA : {{ item.0.beaute }}</p>
                            <p class="pictostat statcha">CHA : {{ item.0.charisme }}</p>
                            <p class="pictostat statint">INT : {{ item.0.intelligence }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </main>

{% endblock %}
