{% include 'base.html.twig' %}

{% block boby %}
<!doctype html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/GearPlusBundle/media/favicon.png') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/GearPlusBundle/css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/GearPlusBundle/css/main.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/GearPlusBundle/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/GearPlusBundle/js/main.js') }}"></script>
        <title>Object</title>
    </head>

    <body>



        <main class="fiche center">
            <div class="imgproduct-f">
                <img src="{{ asset('bundles/GearPlusBundle/media/test.jpg') }}">
            </div>
            <div class="text-product clearfix">
                <h2><a href="#" class="title-product">Casquette DOPE</a></h2>
                <p>Vendeur : <a href="#" class="seller">Martin Vendeur (95)</a></p>
                <p class="prix">12 €</p>
            </div>
            <div class="statproduct-f">
                <p class="pictostat statbea">BEA : 0</p>
                <p class="pictostat statcha">CHA : 0</p>
                <p class="pictostat statint">INT : 0</p>
            </div>
            <div class="fiche-content">
                <div class="description">
                    <h2>Description</h2>
                    <p>oaiqzns dlkqsdp qsdpjqspqj poqsdkpqskdàpkqsà^d kàqpsd à^qsdpàkq sdàpkqsàpk dàqskdpqksd  pàksqdpkqspdk pqsokf dqpos kdpoqskdopkqs pdo kqspdk posqjpofpàjgfpà qjfdpojqdfspo   ijsqfopdsijqf opisqdjdpofj oidspij opdsqj fopjsdipoxf jdops fjpoids jopidsfjopidsjf poidsjf opisdjfpojifd spoijfposdijf opdijsfopdsijfposdj opifdsj pofidjiopfdsjpod ifjdfôijdsiopfj ifdidjdfoi jdijoiqdjs ofjoidjiod oidjfodijoidjf doiqsj foisdfjiodjoidjsoi dsoisd jfoisdjf oidjfoidsfjoisdjoidsjfoisdjfoisf</p>
                </div>
                <div class="contact">
                    <h2>Contact :</h2>
                    <ul>
                        <li>Email : <a href="#">devolus@gmail.com</a> </li>
                        <li>Téléphone : <a href="#">0782156505</a> </li>
                    </ul>
                </div>
            </div>
        </main>

    </body>
</html>
{% endblock %}