{% extends 'base.html.twig' %}

{% block body %}

    {# console : php ./bin/console debug;router #}
    <h1>{{ app.user.username }}</h1>
    <h1>{{ app.user.email }}</h1>
    <a href="{{ path ('fos_user_profile_edit') }}">Edit Username / Email</a> </br>
    <a href="{{ path ('fos_user_change_password') }}">Edit Password</a></br>
    <a href="{{ path ('product_new') }}">Crée un nouveau produit</a></br>

    <h1>Vos produits</h1>
    <ul class="listproduct">
        {% for product in tout_les_prod %}
            <li class="product">
                <div class="gotall">
                    <div class="imgproduct">
                        <img src="{% if product.avatar == null %}https://previews.123rf.com/images/megawinter/megawinter1405/megawinter140501072/28553313-cross-web-flat-icon-in-circle-Stock-Vector.jpg{% else %}{{ product.avatar }}{% endif %}">
                    </div>
                    <div class="text-product">
                        <h2><a href="{{ path ('product_show', {'id' : product.id }) }}" class="title-product">{{ product.title }}</a></h2>
                        <p class="seller">Vendeur : {{ product.getUser.getUsername }}</p>
                        <p class="prix">{{ product.prix }} €</p>
                    </div>
                    <div class="statproduct">
                        <p class="pictostat statbea">BEA : {{ product.beaute }}</p>
                        <p class="pictostat statcha">CHA : {{ product.charisme }}</p>
                        <p class="pictostat statint">INT : {{ product.intelligence }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
